/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,input,select {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.3em;
}

b,th,h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

nav {
  padding: 4px 8px;
  background: #eee;
  border-bottom: 2px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    padding: 4px;
    vertical-align: top;

    &.date, &.amount, &.category {
      min-width: 6em;
    }
    &.date, &.category {
      text-align: center;
    }
    &.amount {
      text-align: right;
    }
  }

  tr.create-rule {
    background: #eee;
    color: #333;

    th, td {
      font-size: 80%;

      input,select {
        font-size: 90%;
      }
    }
  }
}

.debit { color: red; }

.color-black, .color-red, .color-green, .color-blue {
  color: white;

  a {
    color: yellow;
    &:visited {
      color: orange;
    }
  }
}

.color-yellow, .color-gray {
  color: black;

  a {
    color: blue;
    &:visited {
      color: purple;
    }
  }
}

.color-black { background: black; }
.color-red { background: red; }
.color-yellow { background: yellow; }
.color-green { background: green; }
.color-blue { background: blue; }
.color-gray { background: #ccc; }
