<h1>Categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Color</th>
  </tr>
  <% @categories.each do |category| %>
    <tr class="color-<%= category.color %>">
      <td><%= link_to category.title, edit_category_path(category) %></td>
      <td><%= category.color %></td>
    </tr>
  <% end %>
</table>
